footer {
	position: absolute;
	top: 695vh;
	width: 100vw;
	display: flex;
	flex-direction: column;

	border-top: 1px solid rgba(255, 255, 255, 0.1);
	transition: 0.3s ease;
	backdrop-filter: blur(30px);
	z-index: 2;
}

footer:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.trippyfooter:after {
	content: '';
	position: absolute;
	top: -3px;
	left: 50%;
	transform: translate(-50%);
	height: 3px;
	width: 100%;
	background: linear-gradient(
		60deg,
		#ff9de6,
		#e8e500,
		rgb(188, 255, 197),
		rgb(203, 146, 230),
		#5073b8,
		#1098ad,
		#c4c4c4,
		#929292
	);
	opacity: 0.5;
	z-index: -1;
	animation: footerbargradient 3s ease alternate infinite;
	background-size: 300% 300%;
}

.trippyfooter {
	background: rgba(255, 255, 255, 0.267);
	border: 1px solid transparent;
	backdrop-filter: blur(30px);
}

.trippyfooter ul li {
	opacity: 1;
}

footer ul li:hover {
	opacity: 1;
	cursor: pointer;
}
footer ul li img {
	width: 20px;
	margin-left: 5px;
	transform: translateY(2px);
}
footer ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	width: 100%;
}

@keyframes footerbargradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.footerLink {
	text-decoration: none;
	margin: auto;
	height: 50px;
}
.footerText {
	color: white;
	text-decoration: none;
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
}

.lightFooterText {
	color: rgba(255, 255, 255, 0.726);
	text-decoration: none;
	font-size: 13px;
	font-family: 'News Cycle', sans-serif;
	font-weight: lighter;
}
